extends layout

block content
  
  div(class="container")
    h4 SQS Messages
    div(class="row")
      ul(class="list-group" id="sqs_list")
          
block non_blocking_scripts
  script(src="/javascripts/sqs.js")      
