extends layout

block content
  div(class="container")
    table(class="table table-striped")
      thead
        tr
          th(scope="col") _id
          th(scope="col") first_name
          th(scope="col") last_name
          th(scope="col") email
          th(scope="col") __v
          th(scope="col") action
      tbody(id="users_table_body")
    
  //- backbone templates
  script(type="text/template" id="user_tmpl")
    th(scope="row") <%- _id %>
    td <%- first_name %>
    td <%- last_name %>
    td <%- email %>
    td <%- __v %>
    td
      a(href="#", class="delete_user")
        i(class="fas fa-times")
      | 
      a(href="#", class="update_user")
        i(class="fas fa-edit")

block non_blocking_scripts
  script(src="/javascripts/backbone/models/user_model_backbone.js")
  script(src="/javascripts/backbone/collections/users_collection_backbone.js")
  script(src="/javascripts/backbone/views/users_view_backbone.js")
  script(src="/javascripts/users.js")
